<div class="container">
  <div class="panel">
    <%= form_for @user do |f| %>
      <%= f.text_field :username, placeholder: 'Username' %>
      <%= f.text_field :password, type: 'password', placeholder: 'Password' %>
      <%= f.text_field :password_confirmation, type: 'password', placeholder: 'Password confirmation' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>